OAuth {oauthServerName = "", oauthRequestUri = "https://api.twitter.com/oauth/request_token", oauthAccessTokenUri = "https://api.twitter.com/oauth/access_token", oauthAuthorizeUri = "https://api.twitter.com/oauth/authorize", oauthSignatureMethod = HMACSHA1, oauthConsumerKey = "INPUT HERE", oauthConsumerSecret = "INPUT HERE", oauthCallback = Nothing, oauthRealm = Nothing, oauthVersion = OAuth10a}
